body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ccafaf;
    color: black;
    text-align: center;
    padding-top: 125px;
    transition: background-color 0.3s, color 0.3s;
}
.container {
    display: inline-block;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
}
button {
    margin: 30px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #ba6767;
    color: white;
}
button:hover {
    background-color: #3f2f2f;
}
.dark-mode {
    background-color: #222;
    color: #f1f1f1;
}
.dark-mode .container {
    background-color: #333;
}